body {
    margin: 0;
    background: #f1f5f9;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #0f172a;
    color: white;
    height: 100vh;
}

.sidebar h4 {
    text-align: center;
}

/* Main */
.main {
    background: #f8fafc;
}